.abc{
    background-color: peachpuff;
    text-align: center;
    padding: 20px;
    font-size: 40px;
    font-weight:400;
}
.h1{
    background-color: rgb(238, 231, 129);
    text-align: center;
    padding: 20px;
}